<div id="login-page">
  <h1>Вход</h1>
  <form>
    <div class="input-block">
      <label for="login">Логин</label>
      {{{Input type="text" name="login" id="login" placeholder="Логин" }}}
      <p></p>
    </div>
    <div class="input-block">
      <label for="password">Пароль</label>
      {{{Input type="password" name="password" id="password" placeholder="Пароль" }}}
      <p ></p>
    </div>
    <button type="submit">Войти</button>
  </form>
</div> 