<main class="login-container">
  <div class="login-container__login-block">
    <h1>Вход</h1>
    <form class="login-container__form" action="submit">
        {{#each inputsSettings}}
          {{> FormField option=this}}
        {{/each}}
        {{> Button option=buttonOptions}}
    </form>
    <a class="login-container__link" href="https://praktikum.yandex.ru/" target="_blank">Нет аккаунта?</a>
  </div>
</main>
