@import "../../../../../styles.scss";
.messages-block-container {
  overflow-y: scroll;
  height: calc(100vh - 120px);
  // scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 20px 30px;
  &__datetime-block {
    text-align: center;
    color: $--color-light-grey;
    font-size: 14px;
    margin-bottom: 30px;
  }
  &::-webkit-scrollbar-button {
    display: none; /* Убирает стрелки прокрутки */
  }
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $--color-light-grey;
    border-radius: 4px;
    &:hover {
      cursor: grab;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}