@import "../../../../../styles.scss";

.button {
  display: flex;
  width: 40vh;
  min-width: 510px;
  font-size: 16px;
  line-height: 24px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &--primary {
    color: $--color-blue-primary;

    &:hover {
      color: darken($--color-blue-primary, 10%);
    }
  }

  &--danger {
    color: $--color-danger;

    &:hover {
      color: darken($--color-danger, 10%);
    }
  }
}

.divider-line {
  margin: 0;
  border: none;
  border-bottom: 1px solid $--color-dividing-line;
  width: 40vh;
  min-width: 510px;
  margin: 10px 0;
  &_last {
    display: none;
  }
}
