@import "../../../../assets/styles/variables.scss";

.profile-form-block__form {
  width: 40vh;
  min-width: 510px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__buttons {
    margin-top: 60px;
  }
}
