@import "../../../../../styles.scss";

.profile-form-block {
  width: 40vh;
  min-width: 510px;
  height: fit-content;

  &__form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &__buttons {
      margin-top: 60px;
    }

    .input-group-wrapper {
      &__hr {
        margin: 0;
        border: none;
        border-bottom: 1px solid $--color-dividing-line;
        width: 100%;
        margin: 10px 0;
        &_last {
          display: none;
        }
      }
    }
  }
}
