<div class="current-chat-container">
  <header>{{> CurrentChatHeader currentChat=currentChat }}</header>
  <main>{{> MessagesBlock currentChat=currentChat }}</main>
  <footer>{{> CurrentChatFooter currentChat=currentChat }}</footer>
</div>