<div class="current-chat-container">
  <header>{{> CurrentChatHeader currentChat=currentChat burgerButtons=burgerButtons }}</header>
  <main>{{> MessagesBlock currentChat=currentChat }}</main>
  <footer>{{> CurrentChatFooter currentChat=currentChat addAppsButtons=addAppsButtons }}</footer>
  {{> ModalWindow modalWindowSettings=modalWindowSettings modalActive=true}}
</div>