<div class="registration-container">
  <div class="registration-container__registration-block">
    <h1>Регистрация</h1>
    <form class="registration-container__form" action="submit">
        {{#each inputsSettings}}
          {{> FormField option=this}}
        {{/each}}
        {{> Button option=buttonOptions}}
    </form>
    <a class="registration-container__link" href="https://praktikum.yandex.ru/" target="_blank">Войти</a>
  </div>
</div>
