.add-apps-button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('static/icons/paperclip_icon.svg') no-repeat center center;
  cursor: pointer;
}