<div class="current-chat-footer">
  <form>
    {{> AddAppsButton isActive=true}}
    {{> WriteMessageInput}}
    {{> ArrowButton rightBtn=true}}
    {{> ButtonsPopup buttons=addAppsButtons isActive=true isBottomLeft=true}}
  </form>
</div>