@import "../../../../../styles.scss";

.avatar {
  &__container {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    
    &--editable {
      &:hover .avatar__overlay {
        opacity: 1;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    &_placeholder {
      object-fit:none;
      background-color: $--color-input-avatar-grey;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__text {
    font-size: 14px;
    text-align: center;
  }
}