@import "../../../../../styles.scss";
.message-item {
  position: relative;
  border-radius: 10px;
  width: max-content;
  max-width: 40%;
  margin-bottom: 10px;
  &__text {
    padding: 10px;
    font-size: 14px;
    line-height: 18px;
    white-space: pre-line;
  }

  &__image {
    padding: 1px;
  }
  .message-info {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 10px;
    position: absolute;
    bottom: 11px;
    right: 11px;
  }
  
  .message-time {
    font-size: 10px;
  }
  
  .message-status {
    display: block;
    width: 12px;
    height: 12px;
    background: url('static/icons/message_read_icon.svg') no-repeat center center;
  }
  &:has(.message-item__image) {
    .message-time {
      padding: 2px 7px;
      color: white;
      background-color: $--color-fill-time;
      border-radius: 30px;
    }
  }
}

.message-item_incoming {
  background-color: $--incoming-message-background-color;
  border-top-left-radius: 0;
  margin-right: auto;
}

.message-item_outgoing {
  background-color: $--outgoing-message-background-color;
  border-bottom-right-radius: 0;
  margin-left: auto;
  padding-right: 34px;
  &_read {
    padding-right: 46px;
  }
  
  .message-time {
    color: $--color-blue-primary;
  }
}