{{#if rightBtn}}
  <button class="arrow-button" type="submit">
    <img class="arrow-button_right" src="/icons/arrow_icon.png" alt="arrow right">
  </button>
{{else}}
  <button class="arrow-button" type="button">
    <img class="arrow-button_left" src="/icons/arrow_icon.png" alt="arrow left">
  </button>
{{/if}}