{{#if rightBtn}}
  <button class="arrow-button">
    <img class="arrow-button_right" src="static/icons/arrow_icon.png" alt="arrow right">
  </button>
{{else}}
  <button class="arrow-button">
    <img class="arrow-button_left" src="static/icons/arrow_right.png" alt="arrow right">
  </button>
{{/if}}