{{#if modalActive}}
  <div class="modal-overlay" id="modalOverlay">
    <div class="modal" id="modal">
      <div class="modal__content">
        <h2 class="modal__title">{{modalWindowSettings.title}}</h2>
        <form class="modal__form">
          <div class="modal__form__input">
            {{#if modalWindowSettings.inputOptions.isFile}}
              <input type="file" id="avatar" name="avatar" accept="image/*" class="file-input">
              <label for="avatar" class="file-input__label">{{modalWindowSettings.inputOptions.labelName}}</label>
              {{#if modalWindowSettings.inputOptions.errorMessage}}
                <span class="file-input__error">{{modalWindowSettings.inputOptions.errorMessage}}</span>
              {{/if}}
            {{else}}
              {{> FormField option=modalWindowSettings.inputOptions}}
            {{/if}}
          </div>
          {{> Button option=modalWindowSettings.buttonOptions}}
        </form>
      </div>
    </div>
  </div>
{{/if}}
