$color-blue-primary: #3369f3;
$color-text-primary: #1e1e1e;
$color-light-grey: #999999;
$color-input-avatar-grey: #efefef;
$color-dividing-line: #eaeaea;
$hover-color: #e4edfd;
$incoming-message-background-color: #e5e5e5;
$outgoing-message-background-color: #e4edfd;
$color-fill-time: #5252527e;
$color-danger: #ff2f2f;
