<div class="input-group">
  <div class="input-group__input-row">
    {{> ProfileLabel option=option}}

    {{#if isEdit}}
      {{> ProfileInput option=option}}
    {{else}}
      {{> DisplayValue value=option.value}}
    {{/if}}
  </div>
</div>