@import "../../../../../styles.scss";

.input-group {
  display: flex;
  flex-direction: column; /* Меняем направление на колонку */
  width: 100%;

  &__input-row {
    display: flex;
    flex-direction: row; /* Меняем направление на строку */
    justify-content: space-between;
    align-items: center;
  }
}